@use "../../scss/breakpoint" as *;

.movie-list {
    .swiper-wrapper {
        overflow-x: scroll;

    }
    .swiper-slide {
        width: 15%;

        @include tablet {
            width: 30%;
        }

        @include mobile {
            width: 40%;
        }
    }
}